# Make some emissions files

In [1]:
from pathlib import Path
import shutil
import pandas as pd
import numpy as np

In [16]:
# species_list = ["CFC-112", "CFC-112a", "CFC-113","CFC-113a", "CFC-114", "CFC-114a"]
species_list= ["CFC-112a","CFC-113a", "CFC-114a"]

agage_dir = Path("/user/home/lw13938/work/py12box_agage/data/")
laube_dir = Path("/user/home/lw13938/work/py12box_laube/data/")

for species in species_list:
    if (agage_dir / f"{species}/inputs/{species}_emissions.csv").exists():
        print(f"Copying {species}")
        shutil.copy(agage_dir / f"{species}/inputs/{species}_emissions.csv", laube_dir / f"{species}/inputs/{species}_emissions.csv")
    elif "a" in species: # and species != "CFC-112a":
        # Set fairly arbitrarily to 1, 1 and 0.05 for 113a, 114a and 112a
        species_in = species.replace("a","")
        if (agage_dir / f"{species_in}/inputs/{species_in}_emissions.csv").exists():
            df = pd.read_csv(agage_dir / f"{species_in}/inputs/{species_in}_emissions.csv", comment="#",
            index_col = 0)
            dfnew = df.copy()
            # if species == "CFC-113a":
            #     div = 100.
            # else:
            #     div = 10.
            # print(f"Divide by {div} for isomer for {species}")
            if species == "CFC-112a":
                val = 0.05
            else:
                val = 1 

            for bx in df.keys():
                if bx == "Year":
                    continue
                else:
            #         # df[bx] = df[bx].values/div
                    dfnew[bx] = df[bx].values.sum()/df[1:].values.sum() * val*np.ones(len(df[bx].values))

            
            # comment_string = f"# McCulloch et al (2007) emissions divided by {div} \n"
            comment_string = f"# Emissions set to {val} Gg/yr \n"
            comment_string += "# UNITS: Gg/yr \n"
            with open(Path(laube_dir / f"{species}/inputs/{species}_emissions.csv"), 'w') as fout:
                fout.write(comment_string)
                df.to_csv(fout)
    # else:
    #     print(f"Making a new file for {species}")
    #     print(f"Use CFC-114 as base")
    #     df = pd.read_csv(agage_dir / "CFC-114/inputs/CFC-114_emissions.csv", 
    #                     comment="#",index_col = 0)
    #     if species == "CFC-112":
    #         div = 10.
    #     else:
    #         div = 100.
        
        # for bx in df.keys():
        #     if bx == "Year":
        #         continue
        #     else:
        #         df[bx] = df[bx].values/div
            
            # comment_string = f"# McCulloch et al (2007) emissions for CFC-114 divided by {div} \n"
            # comment_string += "# UNITS: Gg/yr \n"
            # with open(Path(laube_dir / f"{species}/inputs/{species}_emissions.csv"), 'w') as fout:
            #     fout.write(comment_string)
            #     df.to_csv(fout)

In [5]:
df[1:] = df[1:].values.sum()/df[1:].values.sum() * np.expand_dims(val*np.ones(len(df[1:].values)),1)

In [13]:
dfnew

         box_0     box_1     box_2     box_3
Year
1930  0.849827  0.080972  0.038934  0.030268
1931  0.849827  0.080972  0.038934  0.030268
1932  0.849827  0.080972  0.038934  0.030268
1933  0.849827  0.080972  0.038934  0.030268
1934  0.849827  0.080972  0.038934  0.030268
...        ...       ...       ...       ...
2096  0.849827  0.080972  0.038934  0.030268
2097  0.849827  0.080972  0.038934  0.030268
2098  0.849827  0.080972  0.038934  0.030268
2099  0.849827  0.080972  0.038934  0.030268
2100  0.849827  0.080972  0.038934  0.030268

[171 rows x 4 columns]

In [15]:
np.sum([0.849827,	0.080972,	0.038934,	0.030268])

1.0000010000000001